* {
    margin: 0;
  
    box-sizing: border-box; /* Ensures consistent sizing of elements */
}

body{
    /* background-color: black !important; */
    /* to override */
overflow-y: hidden;
overflow-x: hidden;
background-image: url('https://img.freepik.com/free-vector/set-glyph-clocks_78370-1552.jpg?ga=GA1.2.1936982064.1714392964&semt=ais_hybrid-rr-similar');
background-size: contain;
}

.dclock{

font-weight: 600;
color:rgb(215, 17, 17);
font-size:100px;
display: flex;
justify-content:center;
/* to allign items  horizontally*/
align-items: center;
/* To allign items vertically center */
height: 100vh;
width: 100%;


}

@media (min-width: 768px) and (max-width:991px){
    .dclock{
        font-size: 55px;
       
        
    }
   
}
@media  (max-width: 600px){
    .dclock{
        font-size: 40px;

    }
   body{
background-size: cover;   
background-repeat: no-repeat;
height: 100vh;
background-position: top;
overflow-y: hidden;
width: 100%;
overflow-x: hidden;
}
}